h2{
    -webkit-margin-before: 0;
}

h3{ /*task ending only */
    text-align: center;
}

h6{
    -webkit-margin-before: 0;
    -webkit-padding-after: 15px;
    border-bottom: 1px solid black;
}

.back{
    color: blue;
    text-decoration: underline;
    font-weight:1000;
    margin-bottom:15px;
}

.head{ /*header images in tasks*/
    float: right;
    margin-left: 5px;
}

img{
    margin-bottom: 10px;
}

ol{
    margin-left:-10px;
    margin-top:-15px;
}

td{
    vertical-align: baseline;
    padding-left: 5px;
}

.diag{
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.note{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    text-align:center;
    width:100%;
}